@import './variables';

* {
  -webkit-tap-highlight-color: transparent;
}

a{
  color: $colorPrimary;
  text-decoration: none;
}

.disable-drag {
  user-select: none;
  -webkit-user-drag: none;
}

.overflow-hidden { overflow: hidden;}
.overflow-auto { overflow: auto; }

.list-unstyled {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
[class*=border-] {
  border-width: 1px;
  border-style: solid;
}

@media (min-width: $breakpointMd) {
}

@media (min-width: $breakpointLg) {

}

@media (min-width: $breakpointXl) {

}


