@import './variables';

@mixin displayFlex() {
  display: flex;
  align-items: center;
}

.d-block { display: block; }
.d-inline { display: inline; }
.d-flex { @include displayFlex(); }

.main-axis-start { justify-content: start; }
.cross-axis-start { align-items: start; }
.main-axis-center { justify-content: center; }
.cross-axis-center { align-items: center; }
.main-axis-stretch { justify-content: stretch; }
.cross-axis-stretch { align-items: stretch; }
.main-axis-end { justify-content: end; }
.cross-axis-end { align-items: end; }

.text-left { text-align: left; }
.text-center { text-align: center; }
.text-right { text-align: right; }

.disable-drag {
  user-select: none;
  -webkit-user-drag: none;
}

@media (min-width: $breakpointMd) {
  .d-md-block { display: block; }
  .d-md-inline { display: inline; }
  .d-md-flex { @include displayFlex(); }

  .main-axis-md-start { justify-content: start; }
  .cross-axis-md-start { align-items: start; }
  .main-axis-md-center { justify-content: center; }
  .cross-axis-md-center { align-items: center; }
  .main-axis-md-stretch { justify-content: stretch; }
  .cross-axis-md-stretch { align-items: stretch; }
  .main-axis-md-end { justify-content: end; }
  .cross-axis-md-end { align-items: end; }

  .text-md-left { text-align: left; }
  .text-md-center { text-align: center; }
  .text-md-right { text-align: right; }
}

@media (min-width: $breakpointLg) {
  .d-lg-block { display: block; }
  .d-lg-inline { display: inline; }
  .d-lg-flex { @include displayFlex(); }

  .main-axis-lg-start { justify-content: start; }
  .cross-axis-lg-start { align-items: start; }
  .main-axis-lg-center { justify-content: center; }
  .cross-axis-lg-center { align-items: center; }
  .main-axis-lg-stretch { justify-content: stretch; }
  .cross-axis-lg-stretch { align-items: stretch; }
  .main-axis-lg-end { justify-content: end; }
  .cross-axis-lg-end { align-items: end; }

  .text-lg-left { text-align: left; }
  .text-lg-center { text-align: center; }
  .text-lg-right { text-align: right; }
}

@media (min-width: $breakpointXl) {
  .d-xl-block { display: block; }
  .d-xl-inline { display: inline; }
  .d-xl-flex { @include displayFlex(); }

  .main-axis-xl-start { justify-content: start; }
  .cross-axis-xl-start { align-items: start; }
  .main-axis-xl-center { justify-content: center; }
  .cross-axis-xl-center { align-items: center; }
  .main-axis-xl-stretch { justify-content: stretch; }
  .cross-axis-xl-stretch { align-items: stretch; }
  .main-axis-xl-end { justify-content: end; }
  .cross-axis-xl-end { align-items: end; }

  .text-xl-left { text-align: left; }
  .text-xl-center { text-align: center; }
  .text-xl-right { text-align: right; }
}
