@import "variables";

/** new button design */
@mixin btnInner() {
  padding: 16.5px 25px;
  &.large {
    padding: 21.5px 30px;
  }
  &.small {
    padding: 8.5px 15px;
  }
}
@mixin btn($color, $bg, $bgHover) {
  color: $color;
  background: $bg;
  border-radius: 5px;
  border: 1px solid $bg;
  @include btnInner();
  
  &:hover:not(:disabled),
  .dropdown.show>& {
    color: $color;
    background-color: $bgHover;
    border-color: $bgHover;
  }
}

button,
[class*=btn] {
  appearance: none;
  transition-property: background, color;
  transition-duration: 200ms;
  border: none;
  background: none;
  padding: 0;
}

.btn-primary {
  @include btn($colorGsWhite, $colorPrimary, $colorPrimaryDark);
}
.btn-primary-dark {
  @include btn($colorGsWhite, $colorPrimaryDark, $colorPrimary);
}
.btn-secondary {
  @include btn($colorGsWhite, $colorSecondary, $colorSecondaryDark);
}
.btn-black {
  @include btn($colorGsWhite, $colorGsBlack, $colorGsBody);
}
.btn-grey {
  @include btn($colorGsWhite, $colorGsLabel, $colorGsPlaceholder);
}
.btn-grey-light {
  @include btn($colorGsLabel, $colorGsBackground, rgba($colorGsBackground, 0.7));
}
.btn-google {
  @include btn($colorGsWhite, $colorGoogle, $colorGoogleLight);
}
.btn-facebook {
  @include btn($colorGsWhite, $colorFacebook, $colorFacebookLight);
}
.btn-success {
  @include btn($colorGsWhite, $colorSuccess, $colorSuccessDark);
}
.btn-error {
  @include btn($colorGsWhite, $colorError, $colorErrorDark);
}
.btn-inactive {
  @include btn($colorGsPlaceholder, $colorGsBackground, rgba($colorGsBackground, 0.7));
}

@mixin btnOutline($color, $colorHover) {
  color: $color;
  border: 1px solid $color;
  @include btnInner();

  &:hover:not(:disabled) {
    color: $colorHover;
    background: $color;
    border-color: $color;
  }
}

.btn-outline {
  @include btnOutline($colorPrimary, $colorGsWhite);
}
.btn-outline-success {
  @include btnOutline($colorSuccess, $colorGsWhite);
}
.btn-outline-error {
  @include btnOutline($colorError, $colorGsWhite);
}

.btn-outline-body {
  @include btnOutline($colorGsBody, $colorGsWhite);
}

.btn-outline-grey {
  @include btnOutline($colorGsLabel, $colorGsWhite);
}

// .btn-outline-secondary (if needed)

@mixin btnText($color, $colorHover) {
  color: $color;
  border: 1px solid transparent;
  @include btnInner();
  &:hover:not(:disabled) {
    color: $colorHover;    
  }

}
.btn-text {
  @include btnText($colorPrimary, $colorPrimaryDark);
}

.btn-text-primary-dark {
  @include btnText($colorPrimaryDark, $colorPrimary);
}
.btn-text-black,
.btn-text-body {
  @include btnText($colorGsBody, $colorGsBlack);
}
.btn-text-grey {
  @include btnText($colorGsLabel, $colorGsPlaceholder);
}
.btn-text-lightgrey {
  @include btnText($colorGsBackground, white);
}
.btn-text-error {
  @include btnText($colorError, $colorErrorDark);
}
.btn-text-light {
  @include btnText($colorGsWhite, $colorGsLine);
}
.btn-text-white {
  @include btnText($colorGsWhite, $colorGsBackground);
}




/** primary icon button */
@mixin btnIcon($color, $colorDark: null) {
  padding: 16.5px;
  color: $color;

  @if $colorDark {
    .dark & { 
      color: $colorDark; 
    }
  }

  &.large {
    padding: 21.5px;
  }
  &.small {
    padding: 8.5px;
  }
}

.btn-icon {
  @include btnIcon($colorPrimary, $colorGsWhite)
}

.btn-icon-body {
  @include btnIcon($colorGsBody, $colorGsWhite);
}
.btn-icon-success {
  @include btnIcon($colorSuccess);
}
.btn-icon-error {
  @include btnIcon($colorError);
}

.btn-icon-white {
  @include btnIcon(white);
}


[class*=btn]:disabled {
  opacity: 0.7;
}

// button:focus, button.focus,
// button:not(:disabled):not(.disabled).active:focus, 
// button:not(:disabled):not(.disabled):active:focus, 
// .show>button.dropdown-toggle:focus {
//   box-shadow: none;
// }

// .btn {
//   >* {
//     vertical-align: middle;
//   }

//   i+span,
//   i+u,
//   i+b {
//     margin-left: 0.25em;
//   }

//   span+i,
//   u+i,
//   b+i {
//     margin-left: 0.25em; 
//   }
// }