@import "./variables";

@mixin typography($fontSize, $lineHeight, $fontWeight, $letterSpacing) {
  font-size: $fontSize;
  font-weight: $fontWeight;
  line-height: $lineHeight;
  letter-spacing: $letterSpacing;
  margin: 0;
}

$fontWeightBold: 700;
$fontWeightMedium: 500;
$fontWeightRegular: 400;

button, .btn { 
  @include typography(16px, 17.6px, $fontWeightBold, 0.5px);
  &.large { @include typography(18px, 19.8px, $fontWeightBold, 0.5px); }
  &.small { @include typography(15px, 16.5px, $fontWeightRegular, 0.5px); }
}

i { 
  @include typography(18px, 1, $fontWeightRegular, 0px); 
  &.large { @include typography(22px, 1, $fontWeightRegular, 0px); }
  &.small { @include typography(16px, 1, $fontWeightRegular, 0px); }  
}

/** if icon is used in some sentence, it should be aligned with text */
h1, h2, h3, h4, h5, h6, 
p, a, span, u, b, caption, li,
.headline1, .headline2, .headline3, .headline4, .headline5, .headline6, .subtitle1, .subtitle2, .body1, .body2, .body-small, .caption {
  >i {
    font-size: 1.15em;
    vertical-align: text-top; 
  }

  >i.large {
    font-size: 1.3em;
    vertical-align: text-bottom;
  }
}

h1, .headline1 { @include typography(60px, 64px, $fontWeightBold, -0.5px); }
h2, .headline2 { @include typography(48px, 54px, $fontWeightBold, 0px); }
h3, .headline3 { @include typography(34px, 42px, $fontWeightBold, 0.25px); }
h4, .headline4 { @include typography(24px, 32px, $fontWeightBold, 0px); }
h5, .headline5 { @include typography(20px, 26px, $fontWeightBold, 0.2px); }
h6, .headline6 { @include typography(18px, 24px, $fontWeightMedium, 0.2px); }
.subtitle1 { @include typography(16px, 24px, $fontWeightMedium, 0.25px); }
.subtitle2 { @include typography(14px, 18px, $fontWeightMedium, 0.1px); }
p,
td,
ul,
ol,
.body1 { @include typography(16px, 24px, $fontWeightRegular, 0.1px); }
.body2 { @include typography(14px, 22px, $fontWeightRegular, -0.2px); }
.body-small { @include typography(13px, 16px, $fontWeightMedium, 0.2px); }
caption, .caption { @include typography(12px, 16px, $fontWeightRegular, 0.2px); }

@media (min-width: #{$breakpointMd}) {
  .headline1-md { @include typography(60px, 64px, $fontWeightBold, -0.5px); }
  .headline2-md { @include typography(48px, 54px, $fontWeightBold, 0px); }
  .headline3-md { @include typography(34px, 42px, $fontWeightBold, 0.25px); }
  .headline4-md { @include typography(24px, 32px, $fontWeightBold, 0px); }
  .headline5-md { @include typography(20px, 26px, $fontWeightBold, 0.2px); }
  .headline6-md { @include typography(18px, 24px, $fontWeightMedium, 0.2px); }
  .subtitle1-md { @include typography(16px, 24px, $fontWeightMedium, 0.25px); }
  .subtitle2-md { @include typography(14px, 18px, $fontWeightMedium, 0.1px); }
  .body1-md { @include typography(16px, 24px, $fontWeightRegular, 0.1px); }
  .body2-md { @include typography(14px, 22px, $fontWeightRegular, -0.2px); }
  .body-small-md { @include typography(13px, 16px, $fontWeightMedium, 0.2px); }
  .caption-md { @include typography(12px, 16px, $fontWeightRegular, 0.2px); }
}


@media (min-width: #{$breakpointLg}) {
  .headline1-lg { @include typography(60px, 64px, $fontWeightBold, -0.5px); }
  .headline2-lg { @include typography(48px, 54px, $fontWeightBold, 0px); }
  .headline3-lg { @include typography(34px, 42px, $fontWeightBold, 0.25px); }
  .headline4-lg { @include typography(24px, 32px, $fontWeightBold, 0px); }
  .headline5-lg { @include typography(20px, 26px, $fontWeightBold, 0.2px); }
  .headline6-lg { @include typography(18px, 24px, $fontWeightMedium, 0.2px); }
  .subtitle1-lg { @include typography(16px, 24px, $fontWeightMedium, 0.25px); }
  .subtitle2-lg { @include typography(14px, 18px, $fontWeightMedium, 0.1px); }
  .body1-lg { @include typography(16px, 24px, $fontWeightRegular, 0.1px); }
  .body2-lg { @include typography(14px, 22px, $fontWeightRegular, -0.2px); }
  .body-small-lg { @include typography(13px, 16px, $fontWeightMedium, 0.2px); }
  .caption-lg { @include typography(12px, 16px, $fontWeightRegular, 0.2px); }
}

@media (min-width: #{$breakpointXl}) {
  .headline1-xl { @include typography(60px, 64px, $fontWeightBold, -0.5px); }
  .headline2-xl { @include typography(48px, 54px, $fontWeightBold, 0px); }
  .headline3-xl { @include typography(34px, 42px, $fontWeightBold, 0.25px); }
  .headline4-xl { @include typography(24px, 32px, $fontWeightBold, 0px); }
  .headline5-xl { @include typography(20px, 26px, $fontWeightBold, 0.2px); }
  .headline6-xl { @include typography(18px, 24px, $fontWeightMedium, 0.2px); }
  .subtitle1-xl { @include typography(16px, 24px, $fontWeightMedium, 0.25px); }
  .subtitle2-xl { @include typography(14px, 18px, $fontWeightMedium, 0.1px); }
  .body1-xl { @include typography(16px, 24px, $fontWeightRegular, 0.1px); }
  .body2-xl { @include typography(14px, 22px, $fontWeightRegular, -0.2px); }
  .body-small-xl { @include typography(13px, 16px, $fontWeightMedium, 0.2px); }
  .caption-xl { @include typography(12px, 16px, $fontWeightRegular, 0.2px); }
}