$breakpointSm: 576px;
$breakpointMd: 768px;
$breakpointLg: 992px;
$breakpointXl: 1200px;

$maxWidth: 768px;

$colorPrimary: #4264D0;
$colorPrimaryDark: #12339E;
$colorPrimaryLight: #E0F2FC;

$colorSecondary: #87D4FF;
$colorSecondaryDark: #00B2EA; // no need
$colorSecondaryLight: #E8FBFF; // no need

$colorKhaki: #DED2C6;

$colorLightGreen: #EAF3EF;
$colorLightYellow: #FAF3E9;
$colorLightPink: #FFF3F6;

//aka warning
$colorYellow: #FDB813;
$colorYellowDark: #A47300;
$colorYellowLight: #FCEBC2;

$colorError: #EA4242;
$colorErrorDark: #BB1313;
$colorErrorLight: #FBECEC;

$colorSuccess: #12C132;
$colorSuccessDark: #079020;
$colorSuccessLight: #E8F9EB;

/** greyscale */
$colorGsBlack: #04122D;
$colorGsBody: #293148;
$colorGsLabel: #838790;
$colorGsPlaceholder: #A0A3BD;
$colorGsLine: #D6D8E7;
$colorGsBackground: #EFF3F7;
$colorGsWhite: #FFFFFF;

/** social media */
$colorGoogle: #db4437;
$colorGoogleLight: #ea5f54;
$colorFacebook: #3b5998;
$colorFacebookLight: #3c6acb;
$colorTwitter: #1DA1F2;
$colorLinkedin: #2867B2;
$colorInstagram: #E1306C;
$colorTiktok: #69C9D0;
$colorYoutube: #FF0000;