@import './variables';
@import './base';
@import './typography';
@import './spacing';
@import './positioning';
@import './box_shape';
@import './color';

body {
  width: 100vw;
  height: 100vh;

  color: $colorGsBody;

  background: #0F2027;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #2C5364, #203A43, #0F2027);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #2C5364, #203A43, #0F2027); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  -webkit-overflow-scrolling: touch;
}

.app-container {
  position: relative;
  width: min(100%, $maxWidth);
  height: 100vh;
  margin: 0 auto;
}

.overlay {
  position: absolute;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 100%;
  background: rgba($colorGsBlack, 0.5);
}

.app-body-feed {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: auto;
}

.app-child-container {
  z-index: 100;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.app-child-body {
  position: fixed;
  width: min(calc(100% - 30px), $maxWidth - 30px);
  height: calc(100% - 30px);
  border-radius: 16px;
  overflow: hidden;
  top: 15px;
  left: max(15px, calc((100% - ($maxWidth - 30px)) / 2 ) );
  background: $colorGsBackground;
}

.app-bar-feed {
  position: absolute;
  z-index: 10;
  top: 0;
  left: 0;
  // background: rgba($color: $colorGsWhite, $alpha: 0.2);
  width: 100%;
  height: 45px;
  @media (min-width: $breakpointMd) {
    height: 60px;
  }
}

.bottom-bar {
  position: fixed;
  bottom: 0;
  left: 0;
  background: rgba($color: $colorGsWhite, $alpha: 0.4);
  width: 100%;
  height: 70px;
  backdrop-filter: blur(15px);
  @media (min-width: $breakpointMd) {
    height: 80px;
  }

  .bottom-bar-inner {
    width: 100%;
    height: 100%;
    max-width: $maxWidth;
    margin: auto;
    box-sizing: border-box;
  }

  .icon-black path{
    fill: black!important;
  }
}