@import './variables';
@import './base';
@import './form';
@import './button';
@import './typography';
@import './spacing';
@import './positioning';
@import './box_shape';
@import './color';
@import './calendar';

$appearanceTransitionDuration: 500ms;

html {
  min-height: 100%;
  background: #0F2027;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #2C5364, #203A43, #0F2027);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #2C5364, #203A43, #0F2027); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
body {
  width: 100vw;
  -webkit-overflow-scrolling: touch;
}

.overlay {
  position: absolute;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 100%;
  background: rgba($colorGsBlack, 0.5);
}

.app-body-feed {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: auto;
}

.app-child-container {
  z-index: 100;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.app-child-body {
  position: fixed;
  width: min(calc(100% - 30px), $maxWidth - 30px);
  height: calc(100% - 30px);
  border-radius: 16px;
  overflow: hidden;
  top: 15px;
  left: max(15px, calc((100% - ($maxWidth - 30px)) / 2 ) );
  background: $colorGsBackground;
}

.app-bar-feed {
  position: absolute;
  z-index: 10;
  top: 0;
  left: 0;
  // background: rgba($color: $colorGsWhite, $alpha: 0.2);
  width: 100%;
  height: 45px;
  @media (min-width: $breakpointMd) {
    height: 60px;
  }
  transition: color $appearanceTransitionDuration;

  color: $colorGsBody;
  .dark & {
    color: $colorGsWhite;
  }
}

.snackbar {
  position: fixed;
  z-index: 10000;
  bottom: 15px;
  left: 0;
  right: 0;
  margin: 0 auto;  
  // transform: translateX(-50%);
  width: min(400px, calc(100vw - 30px));
  padding: 10px 15px;
  border-radius: 4px;
  box-sizing: border-box;
  background: $colorGsBlack;
  color: white;
  box-shadow: 0 0 3px $colorGsPlaceholder;

  &.error {
    background: $colorErrorLight;
    box-shadow: 0 0 3px rgba($colorErrorLight,0.3);
    color: $colorErrorDark;
    border: solid 1px rgba($colorErrorDark, 0.6);
  }
  &.success {
    background: $colorSuccessLight;
    box-shadow: 0 0 3px ($colorSuccessLight, 0.3);
    color: $colorSuccessDark;
    border: solid 1px rgba($colorSuccessDark, 0.6);
  }
}

.card {
  background: $colorGsWhite;
  border: solid 1px $colorGsLine;

  .dark & {
    background: $colorGsBody;
    border: solid 1px $colorGsBlack;
  }
}